{% extends "schedule_app/index.html" %}

{% block title%}
<title>Search</title>
{% endblock %}

{% block content %}

<div class="container">

  <div>
    <p><strong>Course</strong></p>
  </div>

  <div>
    <p><strong>Professor</strong></p>
  </div>

  <div>
    <p><strong>Semester</strong></p>
  </div>

  <div>
    <p><strong>Year</strong></p>
  </div>
</div>
<hr>

<div class="container">

  <div id="course">

  </div>

  <div id="professor">

  </div>

  <div id="semester">

  </div>

  <div id="year">

  </div>
</div>

{% endblock%}
