body {
  margin: 0px;
  padding: 0px;
}
.nav-bar ul {
  margin: 0px 0px 10px;
  padding: 12px 12px;
  background-color: rgba(20, 56, 87, 0.74);
}
.nav-bar li {
  list-style: none;
  display: inline;
  color: white;
  font-family: sans-serif;
  font-size: 13pt;
}
.nav-bar a {
  text-decoration: none;
  padding-left: 10px;
}
a:link {
    color: white;
    font-family: sans-serif;
    font-size: 13pt;
}
a:visited {
    color: white;
}
a:hover {
    color: rgb(184, 183, 194);
}
a:active {
    color: rgb(92, 191, 161);
}
form {
  display: inline;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14pt;
  margin: auto;
}
.container > div > p {
  margin: 5px;
  padding: 2px;
}

.container > div > ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
